.main {
  height: 100vh;
  display: grid;
  place-items: center;
}
section {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: rgb(203, 203, 248);
  padding: 1rem;
  font-weight: bold;
  font-size: 3rem;
}

.section {
  height: 100vh;
  display: block;
}

.section-header {
  width: 100vw;
  text-align: center;
  font-size: 2.5rem;
}

.items {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.items li {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 3rem;
}

.footer {
  height: 20vh;
  display: grid;
  place-items: center;
  width: 100vw;
  display: block;
  padding-top: 25%;
}

/* transition effect */

.sec2-flexing {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-between;
}

.sec2-flexing img {
  display: block;
}

.text {
  width: 50%;
}


.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
  opacity: 0;
}

.from-right {
  transform: translateX(50%);
  opacity: 0;
}

.from-left,
.from-right {
  transition: all 400ms ease-in;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}